.page-header {
  position: relative;

    display: flex;
  
    
    align-items: center;
@media screen and (max-width: 767px) {
        height: 60px;
    }
   
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;

    color: var(--title-text-color);


    &--colored {
        color: var(--accent-color);
    }
}
.header {
    border-bottom: 1px solid #EEEEEE;
}
.logo-container {
    
    margin-right: 90px;
}

// .header{
//     display: none;
// }