.menu-button{
position: absolute;
top: 15px;
right: 15px;
display: inline-flex;
margin: 0;
padding: 0;
border: none;
background-color: transparent;
color: #212121;
transition: color var(--animation);

z-index: 10;
&:hover
{
    color: var(--accent-color);
    cursor: pointer;
}
&.is-open .icon-cross{
    display: block;
}
&.is-open .icon-menu{
    display: none;
}
@media screen and (min-width: 768px) {
   display: none;
}
}



.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    display: none;
    // & .is-open{
        
    // }
@media screen and (min-width: 768px) {
        display: flex;
    }
    
&.is-open {@media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 796px;
        background-color: white;
        padding: 48px 40px;
        // display: none;
    }
}
}


.icon-cross{
    fill: currentColor;
display: none;
}


.icon-menu{
fill: currentColor;
}



.mobile-menu-social{
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
margin-top: 64px;

    @media screen and (min-width: 768px) {
        display: none;
    }

    &_item{

    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--accent-color);
   
    padding-right: 10px;

    &:last-child{
        
        padding-left: 0;
    }
    &:not(:last-child):after{
        content: "|";
        width: 1px;
        height: 100%;
        color:rgba(33, 33, 33, 0.2) ;
        margin-left: 10px;

    }
    }
    &_link.link{
        color: var(--accent-color);

    }
}

